<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Quiz</title>
  </head>
  <body>
    <h1>Welcome to the Quiz!</h1>
    <button id="startQuiz">Start Quiz</button>

    <script>
      document
        .getElementById("startQuiz")
        .addEventListener("click", function () {
          localStorage.removeItem("quizResult");
          localStorage.removeItem("totalScore");
          window.location.href = "/quiz";
        });
    </script>
  </body>
</html>
